@import "../../var.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
  margin-top: 5%;
  background-color: rgba(12, 12, 12, 0.6);
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  border-radius: 15px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  gap: 12px;
}

.title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 20px;
  color: var(--color-text);
}

.desc {
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  color: var(--color-text);
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
  justify-content: center;
}

.skill {
  width: 100%;
  max-width: 500px;
  border: 2px solid var(--color-gray);
  box-shadow: white;
  border-radius: 16px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  padding: 18px 36px;
}
.skill:hover {
  background-size: 100% 100%;
}

.skillTitle {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 20px;
  text-align: center;
}

.skillList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.skillItem {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  border: 1px solid rgba(var(--text-primary), 0.8);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.skillItemSmall {
  font-size: 14px;
  padding: 8px 12px;
}

.skillImage {
  width: 24px;
  height: 24px;
}
