:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #020344;  
    --color-gray: #19212C;
    --color-darkGray: #333;
        /* Fonts */
    --font-roboto: "Roboto";
  }